//********************************************/
//* STYLE:SCSS
//********************************************/

@use "./base/reset";
@use "./abstracts/variables" as v;/*as ile kısaltma yapabiliriz variablayi v ile kullan demek*/
// @import "./abstracts/colors";
@use "./components/index" as *;/*hepsini import et indexs scssdeki*/

body {
  font-family: v.$fontFamily;
  background-color: v.$bgColor;
  font-size: v.$fontSize;
  color: v.$fontColor;
}



