* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//********************************************/
//* Variable Declaration
//********************************************/
$bgColor: pink;/*değişken oluşturma*/
$fontSize: 1.2rem;
$fontColor: white;
$navBgColor: #30a7c3;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$bannerBgColor: hotpink;
$myBorder: 2px solid brown;

//********************************************/
//* Variable Usage
//********************************************/
body {
  font-family: $fontFamily;
  background-color: $bgColor;
  font-size: $fontSize;
  color: $fontColor;
}

//*******  HEADER *********/
header {
  background-color: $navBgColor;
  display: flex;/*header a veriyoruz çünkü nav ve div in taşıyıcı old için ve bunlar yan yana gelsin diyoruz burası ile*/
  justify-content: space-between;/*sağa sola daya div ve nav ı yatay hizalama display flexde*/
  align-items: center;/*dikey hizalama display flex de*/
  padding: 1rem; /**/
  img {
    width: 80px;
    border: $myBorder;
    border-radius: 10px;
  }
  ul {
    list-style-type: none;
    li {
      display: inline-block;/*yan yana gelen linkler*/
      padding: 0.5rem;
      //! içinde bulundğumuz elementi refere etmek için & işareti kullanılır.
      &:hover {
        text-decoration: underline;
      }
    }
  }
  a {
    color: $fontColor;
    text-decoration: none;
  }
}

//*******  BANNER *********/
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;/*yazı ortalaması*/
  background-color: $bannerBgColor;
  padding: 1rem;
  line-height: 2rem;/*yazı aralarını acma*/
  aside {
    button {
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      background-color: $navBgColor;
      margin-top: 1rem;
      margin-right: 0.5rem;
      &:hover {
        background-color: pink;
        cursor: pointer;/*buton üzerine gelindiğinde*/
      }
    }
  }
  img {
    width: 30%;
    min-width: 250px;/*resmin çok büyüyüp küçülmesini engellemek için*/
    max-width: 400px;
  }
}

//*******  CARDS  *********/
//*****************
//! @MIXIN
//*****************

@mixin myBox($backColor, $color) {/*fonksiyon yazıyoruz ve parametreli yazdık parantez içi parametre parametresz de olabilir  burası deklerasyon kısmı */
  background-color: $backColor;
  color: $color;
  width: 25%;
  height: 15rem;
  border: $myBorder;
  border-radius: 5px;
}

.cards {
  display: flex;/*cardlar yan yana*/
  gap: 0.5rem;/*cardlar arası boşluk*/
  padding: 0.8rem;/*iç hacim*/
  .card1 {
    @include myBox(green, white);/*include çağırma kısmı*/
  }
  .card2 {
    @include myBox(brown, white);
  }
  .card3 {
    @include myBox(yellow, black);
  }
  .card4 {
    @include myBox(rgb(40, 33, 56), white);
  }
}

//*******  ARTICLES *********/

//*****************
//! @EXTEND 
//***************** bir klasta yazılanı baska kılaslarda çağırmak içn parametre almıyor

.articles {
  display: flex;
  padding: 1rem;
  gap: 1rem; /*article aralarını açmak için*/
  .article1 {
    background-color: grey;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    height: 10rem;
  }

  .article2 {
    @extend .article1; /*extend le bu şekilde article1 dekileri tekrar yazmaya gerek kalmıyor aynı olanları*/
    background-color: hotpink;
    border-color: green;
  }
}

//*******  FOOTER *********/

//*************************
//! FOR LOOP
//*************************

//***********************************************
//! IF-ELSE
//************************************************

footer {
  $dark: 2;/*değişken atadık */

  p {
    @if $dark==1 { /* if döngüsü ile eger değişken 2 ise bu olsun vs*/
      background-color: grey;
    } @else if $dark==2 {
      background-color: lightgreen;
    } @else {
      background-color: lightsalmon;
    }
  }

  .social-icons {/*for döngüsü ile*/
    display: flex;
    height: 10rem;
    $textColor: #990000, #55004e, #0fa8a1, #121456, #64c217;/*dizi rengi fonksiyonu*/

    @for $i from 1 through 5 {/*s1 den s5 e kadar döngü oluşturuyoruz  böylede olur  @for $i from 1 to 6 { through yaparsak 5 dahil olur*/
      .social#{$i} {/*social sabit kısım buna i yi ata*/
        width: 20%;
        background-color: lighten(rgba(27, 130, 219, 0.89), $i * 5);/*lighten fonksiyonu ile rengi yazdık i den 5 e kadar azalt dedik rengi $i*5 ile lighten da koyudan açıga dogru demek darken tam tersi a*/
        font-size: $i * 1rem;/*i yi 1 rem 1 rem seklinde font size nı arttırdedik*/
        color: nth($textColor, $i);/*nth fonksiyonu  nth textcolor fonksiyonundan sırayla $i ye atama yapıyor*/
      }
    }
  }
}

/*ctrl c ile terminalden scss i durdurabiliriz durunca değişiklikler güncellenmez yukarı ok tusu enter ile tekrar çalışmya başlar*/
